
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 overflow-x: hidden;

  }
  .img{
    transition: all;
    transition-duration:0.3s;
    transition-timing-function: ease-in;
  
  }
.img:hover{
 
  transform: scale(1.2);
}


.category{
  transition: all;
  transition-duration:0.3s;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);

}
.category:hover{

transform: scale(1.2);
}

category

  .image{
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/690/407/original/food-delivery-online-on-phone-orange-background-illustration-fastfood-design-concept-business-shop-promotion-transport-to-home-free-vector.jpg");
  }
  
  @media only screen and (max-width: 900px) {
   .hamburger {
   
     border:2px solid black;
     width: 15rem;
     padding: 2rem;
     text-align: center;
z-index:2;
position: absolute;
user-select: auto;
margin: 2.5rem -13.5rem;

     border-radius: 10px;
     background-color: white;
    }
  }
  .hamburger > li{
    padding: 6px;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-anim img {
  animation: fadeAnime 0.5s ease-out;
} 
@keyframes fadeAnime {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
